.container {
  max-width: 400px;
  margin: 6rem auto;
  padding: 2rem;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #0077ff;
}

button {
  padding: 0.75rem;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #005fc1;
}

.error {
  color: red;
  font-size: 0.85rem;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-input {
  padding: 0.75rem 60px 0.75rem 0.75rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.password-input:focus {
  outline: none;
  border-color: #0077ff;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 0.85rem;
  color: #00eeff;
  cursor: pointer;
  padding: 0;
  font-weight: bold;
}

.toggle-password:hover {
  color: #b100c1;
}
